html {
    height: 100%;
}

.attribution { 
    font-size: 11px; text-align: center;    
}
.attribution a { 
    color: hsl(228, 45%, 44%); }

 body {
    height: 100%;
    background-color: #D5E1EF ;
    display: flex;
    flex-direction:  column;
    justify-content: space-between; 
    justify-content: center; 
    align-items: center; 
    border: solid;
}

* {
    /* border: solid blue; */
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 523px;
    text-align:center;
    border-radius: 20px;
    background-color: white;;
}

.text {
    width: 288px;
}

.first-text {
font-weight: 900;
margin-top: 24px ;
margin-bottom: 16px;
}

.second-text {
margin-bottom: 40px;
font-weight: 100;
color: #68778d;

}

img {
   width: 288px;
   height: 288px; 
   border-radius: 10px;
}

