*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: 100%;
}

.attribution { 
    font-size: 11px; text-align: center;    
}
.attribution a { 
    color: hsl(228, 45%, 44%); }

 body {
    height: 100%;
    background-color: #D5E1EF ;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
   
    display: flex;
    flex-direction:  column;
    justify-content: center; 
    align-items: center; 
    gap: 5px;
}

h2 {
    display: none;
}


.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 320px;
    height: 523px;
    text-align:center;
    border-radius: 20px;
    background-color: white;;
}



.first-text {
font-weight: 700;
 margin-bottom: 16px; 
font-size: 20px;
width: 256px;
height: 52px;

}

.second-text {
color: #68778d;
font-size: 15px;
font-weight: 400;
width: 256px;
display: flex; 
margin: auto;
text-align: center
}

img {
   width: 288px;
   height: 288px; 
   border-radius: 10px;
   margin: 0 16px;
  
}

figcaption {
    display: none;
}
@media (max-width: 375px){
    .image-text {
       width: 90%; /* Makes it more responsive */
       max-width: 320px; /* Ensures it doesn't stretch too much */
       height: auto;
       padding: 16px; /* Adds some spacing */
    }

    img {
       width: 100%; 
       max-width: 288px; /* Prevents it from being too large */
       height: auto; /* Keeps aspect ratio */
    }
}


